<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="insight.shinanai.distributed_scheduled_task_demo.mapper.ScriptFilesMapper">

    <resultMap id="BaseResultMap" type="insight.shinanai.distributed_scheduled_task_demo.domain.ScriptFiles">
            <id property="id" column="id" />
            <result property="jobName" column="job_name" />
            <result property="fileName" column="file_name" />
            <result property="fileContent" column="file_content" />
        <result property="commandArgs" column="command_args"/>
            <result property="fileType" column="file_type" />
            <result property="fileSize" column="file_size" />
            <result property="createTime" column="create_time" />
            <result property="updateTime" column="update_time" />
    </resultMap>

    <sql id="Base_Column_List">
        id
        ,job_name,file_name,file_content,command_args,file_type,file_size,
        create_time,update_time
    </sql>
</mapper>
